
.table-striped>tbody>tr:nth-of-type(odd)>* {
    --bs-table-color-type: #000;
    --bs-table-bg-type: #ffffff;
  }
  
  .table-striped>tbody>tr:not(caption)>* {
    --bs-table-color-type: #000;
    --bs-table-bg-type: #ece8e8fa;
  }
  
  .table-dark tbody tr {
    background-color: white;
    color: black;
    border: none; /* Remove as bordas das linhas */
  }
  
  .table-dark, .table-dark th, .table-dark td {
    border: none; /* Remove as bordas da tabela, cabeçalhos e células */
  }
  